#head1 {
    position: relative;
    top: 0;
    width: 100%;
    /* height: 7%; */

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head11c {
    display: flex;
    align-items: center;
    font-weight: 500;
}

#head111 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-right: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
}

#head111font {
    color: #25D366;
    font-size: 1.6rem;
    height: 120%;
    width: 120%;

}

#head12font {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    margin-right: 0.8rem;
}

.head12c {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.32rem;
    margin-top: 0.32rem;
}

.head11span {
    color: rgb(126, 211, 33);
    font-weight: bold;
    font-size: 1.92rem;
}


#head2 {
    background-image: url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
    background-size: cover;
}

#lang {
    position: relative;
    height: 6.4rem;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    color: white;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background: #077907 url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
}

#lang button {
    background-color: transparent;
    padding: 0rem 0.7rem;
    transition: none;
}

#langcontent {
    display: flex;
}

#verticalruler {
    width: 2px;
    background-color: white;
    margin-left: 1rem;
    margin-right:1rem;
  
}

#textsize{
    font-size: 1.4rem;
}

#sticker {
    position: relative;
    height: 7.2rem;
    background: #077907 url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
    margin: auto;
}

#verticalrulersticker{
    width: 2px;
    background-color: black;
    margin-left: 1rem;
    margin-right:1rem;
}

#whiteboxsticker {
    background-color: white;
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

#logosticker {
    margin-left:1rem;
    width: 7%;
    background-image: url("https://pmfby.amnex.co.in/pmfby/public/img/logo-product.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

#textsticker {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: black;
    justify-content: center;
    font-weight: 600;
}

#head1textsticker {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head2textsticker {
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logandsign {
    width: 30%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logandsign Link {
    color: black;
    font-size: 1.2rem;
    border-color: #6dc420;

}

#sign {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
}

#register {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    background-color: #5ccf5c;
}

#sign a{
    text-decoration: none;
}
#register a{
    text-decoration: none;
}

#navbar {
    position: relative;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #21481f, #1f7218, #21481f);
}

#navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 85px;
    border-bottom: 2px solid transparent;
    border: 2px solid rgb(2, 79, 2);
    height: 100%;
}

#navbar div a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #b8e986;
    text-decoration: none;
    cursor:pointer;
}