html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  place-items: unset;
}

#head1 {
  position: relative;
  top: 0;
  width: 100%;
  /* height: 7%; */

  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.head11c {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#head111 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin-right: 0.8rem;
  height: 1.6rem;
  width: 1.6rem;
}

#head111font {
  color: #25D366;
  font-size: 1.6rem;
  height: 120%;
  width: 120%;

}

#head12font {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  margin-right: 0.8rem;
}

.head12c {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.32rem;
  margin-top: 0.32rem;
}

.head11span {
  color: rgb(126, 211, 33);
  font-weight: bold;
  font-size: 1.92rem;
}


#head2 {
  background-image: url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
  background-size: cover;
}

#lang {
  position: relative;
  border: 2px solid red;
  height: 6.4rem;
}

#sticker {
  position: relative;
  border: 2px solid white;
  height: 7.2rem;
}

#navbar {
  position: relative;
  border: 2px solid blue;
  height: 4.8rem;
}

#carddiv {
  position: relative;
  border: 2px solid red;
  height: 50rem;
  background: #075907 url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
  background-size: cover;
  background-position: 100% 100%;
}

#lnk {
  position: relative;
  border: 2px solid blue;
  height: 57.56rem;
  background: url(https://pmfby.amnex.co.in/pmfby/public/img/newHome/otherLinksBack2.png), #fff url(https://pmfby.amnex.co.in/pmfby/public/img/newHome/otherLinksBack1.png);
  background-repeat: no-repeat;
  background-position: 0, 100%;
}

#hyplnk {
  position: relative;
  border: 2px solid red;
  height: 40.2rem;
  background: #e1fad0 url(https://pmfby.amnex.co.in/pmfby/public/img/newHome/whatNewBack.png);
  background-size: cover;
}

#foot {
  position: relative;
  border: 2px solid blue;
  height: 12.48rem;

}

#footnav {
  position: relative;
  border: 2px solid green;
  height: 5.08rem;
}

#joinpcopy {
  position: relative;
  border: 2px solid green;
  height: 7.40rem;
  background-image: url(https://pmfby.amnex.co.in/pmfby/public/img/CIBack.png);
  background-size: cover;
}

#join {
  margin-top: 1.3rem;
  position: relative;
  border: 2px solid red;
  height: 2.4rem;
}

#copy {
  margin-bottom: 1.3rem;
  position: relative;
  border: 2px solid blue;
  height: 2.4rem;
}